anonymous/
apache/
cgi-bin/
contrib/
FileZillaFTP/
img/
install/
licenses/
locale/
mailoutput/
mailtodisk/
MercuryMail
perl/
php/
phpMyAdmin/
sendmail/
src/
tmp/
tomcat/
webalizer/
webdav/
bin/

htdocs/xampp

mysql/bin
mysql/share
mysql/*.*
mysql/THIRDPARTY
mysql/COPYING
mysql/CREDITS

*.exe
*.bat


passwords.txt
properties.ini
readme_de.txt
readme_en.txt
uninstall.dat
xampp-control.ini
xampp-control.log
mysql/data/mysql_error.log
mysql/data/mysql.pid
mysql/data/ibtmp1
mysql/data/ib_logfile0
