anonymous/
apache/
cgi-bin/
contrib/
FileZillaFTP/
img/
install/
licenses/
locale/
mailoutput/
mailtodisk/
MercuryMail
mysql/
perl/
php/
phpMyAdmin/
sendmail/
src/
tmp/
tomcat/
webalizer/
webdav/
bin/

htdocs/xampp

*.exe
*.bat


passwords.txt
properties.ini
readme_de.txt
readme_en.txt
uninstall.dat
xampp-control.ini
xampp-control.log
